.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
}

.logo-img {
    border-radius: 50%;
    height: 75px;
    width: 75px;
}

.logo-txt {
    margin: 0 10px 0 10px;
    text-align: left;
    font-size: 15pt;
    font-weight: 500;
    width: 250px;
}